<html>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/drag_drop.js"></script>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% for css in get_assets('tracking_dash.css*') -%}
        <link rel="stylesheet" href="{{ url_for('static', filename=css) }}">
    {% endfor -%}
    <title>Xiphos DUT & DUT-DB Testing Dashboard</title>
</head>

<body>
    <h3>Xiphos DUT & DUT-DB Testing Dashboard</h3>
    <div style="display:flex">
        {% for state in states %}
            {% include "state.html" %}
        {% endfor %}
        <div>
            {% include "new_ticket.html" %}
            {% include "orders.html" %}
        </div>
    </div>
</body>

</html>