<h1>New item</h1>
    <form action="{{ url_for('test_data') }}" role="form" method="post">

        <label for="assignee">Assignee:</label>
        <input type="text" id="assignee" name="assignee"><br><br>
        <label for="serial">Serial No.</label>
        <input type="text" id="serial" name="serial"><br><br>

        <label for="version">Software Version:</label>
        <select name="version" id="version">
            {% for version in versions %}
                <option value="{{version}}">{{version}}</option>
            {% endfor %}
        </select><br><br>

        <label for="board">Board type</label>
        <select name="board" id="board">
            {% for tracker in trackers %}
                <option value="{{tracker}}">{{tracker}}</option>
            {% endfor %}
        </select><br><br>

        <label for="config">Board config</label>
        <select name="config" id="config">
            {% for config in configs %}
                <option value="{{config}}">{{config}}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="submit">
        {% if sub_error %}
            <b style="color:red">Error: {{sub_error}}</b>
        {% endif %}
    </form>