<div id="columns">
    <div style="width: 100px;display: inline-block; margin: 10px;">
        <div class="column" style="background-color: grey">
          <div class="columnHeader">
              <a title="Add card to column" class="pull-right"><i class="glyphicon glyphicon-plus"></i></a>
              <span>{{state}}</span>
          </div>
          <ul class="no-bullets">
            {% for data in test_data %}
                {% if data['Status']==state %}
                    {% include "ticket.html" %}
                {% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
</div>    
    
    

